<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    
    <servlet>
        <servlet-name>secure</servlet-name>
        <servlet-class>com.example.ejbauth.SecureServlet</servlet-class>
        <security-role-ref>
            <role-name>admin</role-name>
            <role-link>admin</role-link>
        </security-role-ref>
    </servlet>
    <servlet-mapping>
        <servlet-name>secure</servlet-name>
        <url-pattern>/restricted/servlet</url-pattern>
    </servlet-mapping>r
    
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Some Realm name</realm-name>
    </login-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Security</web-resource-name>
            <url-pattern>/restricted/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <role-name>user</role-name>
    </security-role>
</web-app>